[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
ollama = "*"
pandas = "*"
pyarrow = "*"
fastparquet = "*"
requests = "*"
patool = "*"

[dev-packages]

[requires]
python_version = "3.11"
